<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="icon" href="/img/weather.png">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        {{>header}}
          <div>
        <a href="/">Main page</a>
        <a href="/me">About me page</a>
        <a href="/help">Help page</a>
        <a href="/weather">Weathers page</a>
    </div>
    <hr>
        <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>
</html>